*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
    display: grid;
    place-content: center;
    min-height: 100vh;
    overflow: hidden;
}

#container{
    display: flex;
    width: 90vw;
}

.img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    position: relative;
    flex: 0.5;
    color: #FFF;
    cursor: pointer;
    margin: 10px;
    transition: flex 0.5s ease-in;
}

.img h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.img.active{
    flex: 5;
}

.img.active h3{
    opacity: 1;
}